/* FONTS */
.open-sans-light { font-family: 'Open Sans', sans-serif; font-weight: 300; }
.open-sans { font-family: 'Open Sans', sans-serif; font-weight: 400; }
.font32 { font-size: 32px; }
.font24 { font-size: 24px; }
.font14 { font-size: 14px; }

/* GENERAL */
html, body { width: 100%; background-color: #FFF; color: #000; font-family: 'Open Sans', sans-serif !important; }
.centered { margin: 0 auto; text-align: center; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-top: -20px; }
.clear { clear: both !important; }
select { display: block; }

/* COLORS */
.solitude { background-color: #E9EAED !important; }
.solitude-text { color: #E9EAED !important; }
.aluminum { background-color: #999999 !important; }
.aluminum-text { color: #999999 !important; }

/* FORM */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea { text-indent: 10px; background-color: white; border: 1px solid #000; border-radius: 0; outline: none; height: 3rem; width: 100%; font-size: 1rem; margin: 0 0 20px 0; padding: 0; box-shadow: none; box-sizing: content-box; transition: all 0.3s}
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) { border-bottom: 1px solid #000; box-shadow: none; }
.input-field label { color: #000; position: relative; top: 0rem; left: 0; font-size: 1rem; cursor: text; transition: .2s ease-out: }
input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label { color: #000; }
input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid { border-bottom: 1px solid #000; box-shadow: none; }
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:disabled, input[type=text][readonly="readonly"], input[type=password]:disabled, input[type=password][readonly="readonly"], input[type=email]:disabled, input[type=email][readonly="readonly"], input[type=url]:disabled, input[type=url][readonly="readonly"], input[type=time]:disabled, input[type=time][readonly="readonly"], input[type=date]:disabled, input[type=date][readonly="readonly"], input[type=datetime]:disabled, input[type=datetime][readonly="readonly"], input[type=datetime-local]:disabled, input[type=datetime-local][readonly="readonly"], input[type=tel]:disabled, input[type=tel][readonly="readonly"], input[type=number]:disabled, input[type=number][readonly="readonly"], input[type=search]:disabled, input[type=search][readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] { color: rgba(0, 0, 0, 0.26); border-bottom: 1px solid #000; }
label.error { color: #EA212D; }
.input-field label.active { font-size: 1rem; -webkit-transform: none; transform: none; }
textarea { height: 5rem !important; }
form img { cursor: pointer; }

/* TABLE */
table.striped>tbody>tr:nth-child(even) { background-color: #FFF; }
table.striped>tbody>tr:nth-child(odd) { background-color: #B9D0C2; }

/* NAV BAR */
.brand-logo { margin-top: -20px; }
.brand-logo img { height: 54px; display: inline; margin-top: 20px; margin-left: 20px; }

/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	
}

/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
		
}